body {
  text-align: center;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  padding: 30px;
}

.palette {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.color {
  width: 100px;
  height: 100px;
  background: #ccc;
  margin: 10px;
  border-radius: 10px;
}
